@charset "UTF-8";
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #474747;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: auto;
  -webkit-user-select: none; }

html {
  background: #f5f5f5; }

body {
  background: -webkit-radial-gradient(transparent 70%, rgba(0, 0, 0, 0.2)); }

#splash, #geo, #ok, #questions, #questions [class^=q]:not(.current), #choices, #choices [class^=c]:not(.current), #congrats {
  display: none; }

#content {
  padding: 15px; }

#bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  background: url("img/15.JPG") no-repeat top center;
  background-size: cover; }

.box {
  max-width: 408px;
  margin: 250px auto 0;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }

.box.wide {
  max-width: 560px;
  width: 100%; }

.box h2 {
  margin: 0;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  text-align: center; }

.box:not(#geo) h2, #questions ul {
  border: 1px solid #d1d1d1;
  border-radius: 5px 5px 0 0; }

.box:not(#splash):not(#geo) h2, #questions ul {
  color: #fff;
  background: rgba(217, 52, 159, 0.9); }

.box p {
  margin: 0;
  padding: 20px 20px 30px;
  background: rgba(255, 255, 255, 0.9);
  border-left: 1px solid #d1d1d1;
  border-right: 1px solid #d1d1d1;
  font-size: 16px;
  line-height: 20px;
  text-align: left; }

.box p:last-of-type {
  padding: 10px;
  border: 1px solid #d1d1d1;
  border-radius: 0 0 5px 5px;
  text-align: center; }

.box span {
  color: #5aabe1; }

.box button {
  margin: 0;
  padding: 10px 12px;
  width: 160px;
  height: 60px;
  background: transparent;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  outline: none; }

.box button {
  color: #fff;
  background: rgba(92, 184, 92, 0.9); }

.box button:nth-of-type(2) {
  margin-left: 10px; }

#splash h2 {
  background: rgba(255, 255, 255, 0.9); }
  
#ok h2 {
  padding: 20px 0; }

#geo {
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #d1d1d1;
  border-radius: 5px; }

#geo h2 {
  display: inline-block;
  font-size: 22px;
  line-height: 28px; }

.pin-wrap {
  display: inline-block;
  width: 180px;
  height: 180px;
  vertical-align: middle; }

.pin {
  width: 100%;
  position: relative;
  top: -15px;
  vertical-align: middle; }

#questions ul {
  margin: 0;
  padding: 20px;
  list-style: none; }

#questions ul li {
  display: inline;
  padding: 4px 10px;
  margin: 10px;
  color: rgba(217, 52, 159, 0.9);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  font-size: 22px; }

#questions ul li.current {
  /*color: #000 */
  background: #fff; }

#questions button:nth-of-type(2) {
  background: rgba(217, 83, 79, 0.9); }

#choices p {
  text-align: center; }

#choices input {
  display: none; }
  
#choices label {
  display: block;
  height: 30px;
  margin: 10px 0;
  padding-left: 65px;
  text-align: left; }

#choices label:before {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  content: "";
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  text-align: center;
  font-size: 22px;
  vertical-align: -8px;
  visibility: visible; }

#choices input:checked + label:before {
  content: "";
  background-color: #3091c9;
  background-image: url(../../img/v10/check.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center; }

#choices p label:first-of-type {
  margin-top: 20px; }

@media screen and (min-width: 640px) {
  #bg {
    max-width: 674px;
    left: 50%;
    margin-left: -337px; }

  .box button:hover {
    background: rgba(88, 155, 87, 0.9); }

  #questions button:nth-of-type(2):hover {
    background: rgba(180, 80, 78, 0.9); }

  #choices input:not(:checked):hover:before {
    border: 2px solid #3091c9; } }
    
@media screen and (max-width: 480px) {
  .pin-wrap {
    width: 120px;
    height: 120px; }

  .pin {
    top: -30px; }

  .box, .box.wide {
    margin: 125px auto 0;
    max-width: 315px;
    /*max-width: none;*/ }
    
  .box button {
    width: 125px; }

  #geo h2 {
    font-size: 20px; }
    
  #choices label {
    padding-left: 20px; } }
    
@media screen and (max-width: 320px) {
  #content {
    padding: 10px; }
  h2 {
    font-size: 17px!important; }
		

/*# sourceMappingURL=style.css.map */
